  /*
   *  App developed for the final exam in "Introduction to Mobile App
   *  Design and Development" course @Laurea.
   *  Author: Patricia Vera Hernández
   *  Student number: 1106727
   */

   page-register {

    // Fixing the page with no scroll
    .no-scroll .scroll-content {
        overflow: hidden;
    }

    // Logo scale
    .logo {
        display: block;
        margin: auto;
        width: 50%;
        margin-top: 2vh;
    }

    .label {
        background-color: rgba(255, 255, 255, 0.0);
    }

    .text {
        text-align: center;
    }

    .btnWidth {
        width: 58%;
    }

    .myButton {
        margin-top: 8vh;
        width:74%;
    }

    .register-block {
        margin-bottom: 8%;
    }

    .text-input:focus .text-input-md:focus {
        color: whitesmoke;
    }

    .text-input::-moz-placeholder {
        color: #b1667c;
      }

      .text-input:-ms-input-placeholder {
        color: #b1667c;
      }

      .text-input::-webkit-input-placeholder {
        color: #b1667c;
      }
}
