/*
 *  App developed for the final exam in "Introduction to Mobile App
 *  Design and Development" course @Laurea.
 *  Author: Patricia Vera Hernández
 *  Student number: 1106727
 */

page-profile {

    .person-icon {
        margin: 10% 20% 10% 37%;
    }

    .info {
        font-family: Montserrat;
        font-size: 16px;
        // text-align: center;
        color: #86414c;
        position: relative;
    }

}
